<div class="card">
    <h4 class="card-header text-center">Database Stats</h4>
    <div class="card-body px-0 py-0">
        <ul class="list-group">
            <li class="list-group-item" style="background: #1a0033; color: #ff00cc; border: 2px solid #00fff7;">{{num_accounts_registered}} account{{num_accounts_registered|pluralize}} (+ {{num_characters}} characters)</li>
            <li class="list-group-item" style="background: #1a0033; color: #ff00cc; border: 2px solid #00fff7;">{{num_rooms}} room{{num_rooms|pluralize}} (+ {{num_exits}} exits)</li>
            <li class="list-group-item" style="background: #1a0033; color: #ff00cc; border: 2px solid #00fff7;">{{num_others}} other objects</li>
        </ul>
    </div>
</div>
